{% extends 'admin/layout.twig' %}
{% set active = 'form' %}

{% block content %}
<div class="row">
    <div class="col-xs-6">
        {% include 'admin/includes/alerts.twig' %}

        <div class="box ">
            <div class="box-header with-border">
                <h3 class="box-title">{{ title }}</h3>
            </div>
            {{ form_start(form) }}
                <div class="box-body">
                    {{ form_widget(form) }}
                </div>
                <div class="box-footer">
                    <a class="btn btn-default" href="{{ path(cancel_route) }}">Cancel</a>
                    <button type="submit" class="btn btn-primary pull-right">Submit</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>

    <div class="col-xs-6"></div>
</div>


{% endblock %}
