{% extends 'admin/layout.twig' %}

{% set route_create          = app.request.get('_route') ~ '_create'         %}
{% set route_edit            = app.request.get('_route') ~ '_edit'           %}
{% set route_delete          = app.request.get('_route') ~ '_delete'         %}
{% set route_delete_selected = app.request.get('_route') ~ '_deleteSelected' %}

{% set route_create_child    = app.request.get('_route') ~ '_createChild'    %}

{% block content %}
    <div class="row">
        <div class="col-xs-12" id="table_container">
            {% include 'admin/includes/alerts.twig' %}

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Data Table With Full Features</h3>
                    <div class="pull-right">
                        <a href="{{ path(route_create) }}" class="btn btn-success" title="Add new element"><i class="glyphicon glyphicon-plus"></i></a>
                        <a href="javascript:void(0);" onclick="deleteSelectedItems('{{ path(route_delete_selected) }}');" class="btn btn-danger" title="Delete selected elements"><i class="glyphicon glyphicon-trash"></i></a>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                    {% if not items is empty %}
                        <table id="data_table" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    {% for field in fields %}
                                        {% if field == 'getLaveledTitle' %}
                                            <th>Title</th>
                                        {% else %}
                                            <th>{{field}}</th>
                                        {% endif %}
                                    {% endfor %}

                                    {% if actions is defined and not actions is empty %}
                                        <th>Actions</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in items %}
                                    <tr id="row_{{ attribute(item, fields|first) }}">
                                        {% for field in fields %}
                                            {% if field == 'getLaveledTitle' %}
                                                <td style="padding-left: {{ item.lvl*20+8 }}px"> {{ attribute(item, field)|join(',') }} </td>
                                            {% else %}
                                                <td> {{ attribute(item, field)|join(',') }} </td>
                                            {% endif %}
                                        {% endfor %}

                                        {% if actions is defined and not actions is empty %}
                                            <td>
                                                {% if 'edit' in actions %}
                                                    <a href="{{ path(route_edit, {'id': item.id}) }}"><i class="fa fa-edit"></i></a>
                                                {% endif %}
                                                {% if 'delete' in actions %}
                                                    <a href="javascript:void(0);" onclick="deleteItem('{{ path(route_delete, {'id': item.id }) }}');"><i class="fa fa-remove"></i></a>
                                                {% endif %}
                                                {% if 'create_child' in actions %}
                                                    <a href="{{ path(route_create_child, {'id': item.id}) }}"><i class="fa fa-plus-square"></i></a>
                                                {% endif %}
                                            </td>
                                        {% endif %}
                                    </tr>


                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    {% for field in fields %}
                                        {% if field == 'getLaveledTitle' %}
                                            <th>Title</th>
                                        {% else %}
                                            <th>{{field}}</th>
                                        {% endif %}
                                    {% endfor %}

                                    {% if actions is defined and not actions is empty %}
                                        <th>Actions</th>
                                    {% endif %}
                                </tr>
                            </tfoot>
                        </table>
                    {% else %}
                        {{ 'No result found!' }}
                    {% endif %}
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
{% endblock %}
