{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row">

        <div class="col-md-3">
            <ul class="nav">
                <li><a href="{{ path('homepage') }}">{{ 'Home' }}</a></li>
                <li><a href="{{ path('orders') }}">{{ 'Orders' }}</a></li>
                <li><a href="{{ path('calls') }}">{{ 'Calls' }}</a></li>

                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('admin_users') }}">{{ 'Administration / Users' }}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>

{% endblock %}
