<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li class="header">MENU</li>

            {% for menu_item in left_menu_items %}
                <li {% if menu_item['active'] == true %} class="active" {% endif %}>
                    <a href="{{menu_item['url']}}"><i class="{{menu_item['icon']}}"></i> <span>{{menu_item['title']}}</span> {% if menu_item['children'] is defined %}{{ '<i class="fa fa-angle-left pull-right"></i>'}}{% endif %}</a>
                    {% if menu_item['children'] is defined %}
                        <ul class="treeview-menu">
                            {% for child in menu_item['children'] %}
                                <li {% if child['active'] == true %} class="active" {% endif %}>
                                    <a href="{{child['url']}}"><i class="{{child['icon']}}"></i> <span>{{child['title']}}</span></a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul><!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>